$primary: #3292a6;
$primary-overlay:rgba(50,140,156,0.7);
$subscribe-bc:#252525;
$about:#F8F9FA;
body{
  margin-top: 90px;
}
.navbar{
  box-shadow: 2px 2px 5px $primary;
  background: #fff;
  opacity: 0.9;
.nav-item{
  font-size: 1.4rem;
  padding-right: 20px;
  .nav-link{
    color: #252525;
  }
  .nav-link:hover{
    color: $primary;
}
}
.nav-item:last-child{
  padding-right:0px;
}
}
#home-section{
  background-image: url('../img/mountains.jpg');
  min-height: 600px;
  position: relative;
  .primary-overlay{
    background:$primary-overlay;
    min-height: 600px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
#subscribe{
  background-color: $subscribe-bc;
}
#id{
  background-color: $about;
  p{
    text-align: justify;
  }
}
#author-section{
  img{
    margin-top: -40px;
  }
  .fa{
    font-size: 25px;
  }
  .card:hover{
    background-color: $primary;
    color: #fff;
    .fa{
      font-size: 25px;
      color: #fff;
    }
  }
}
#contact-section{
  background-color: $about;
}
@media(max-width:576px)
{
  #home-section{
    h1{
      font-size: 4rem;
    }
  }
}
